
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jTinder Touch Slider</title>
    <style>
          html, body {
          height: 100%;
          padding: 0;
          margin: 0;
          position: relative;
      }

      body {
          overflow: hidden;
      }

      /* Wrapper with padding */
      .wrap  {
          height: 300px;
          padding: 5%;
      }

      #tinderslide {
          position: relative;
          background: #fff;
          width: 95%;
          height: 100%;
      }

      #tinderslide ul {
          margin: 0;
          position: relative;
          display: block;
          height: 100%;
      }

      #tinderslide li {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          z-index: 2;
          left: 0;
          box-shadow: 0 0 20px rgba(0, 0, 0, .2);
          overflow: hidden;
          text-align: center;
          padding: 10px 10px 10px 10px;
          background: #eee;
          font-size: 24px;
          color: #000;
          border: 1px solid #fff;
          border: 1px solid #dfdfdf;
          border: 1px solid rgba(96, 96, 96, 0.2);
          -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
          transform: translate3d(0%,0,0) scale3d(1,1,1);
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
      }

      /* Image text */
      #tinderslide li h2 {
          color: #fff;
          font-size: 30px;
          text-align: center;
          position: absolute;
          top: 40%;
          left: 0;
          width: 100%;
          text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
      }

      /* Image rotation */
      #tinderslide li.pane1 {
          -webkit-transform: rotate(-1deg);
          -moz-transform: rotate(-1deg);
          -o-transform: rotate(-1deg);
          -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
      }

      #tinderslide li.pane2 {
          -webkit-transform: rotate(2deg);
          -moz-transform: rotate(2deg);
          -o-transform: rotate(2deg);
          -ms-transform: rotate(2deg);
          transform: rotate(2deg);
      }

      /* Like & dislike badge images */
      #tinderslide .like,
      #tinderslide .dislike {
          background: url("https://cdn.rawgit.com/do-web/jTinder/master/img/liked.png") no-repeat scroll 0 0;
          opacity: 0;
          height: 80px;
          position: absolute;
          width: 170px;
          left: 45px;
          top:40px;
          z-index: 1;
          overflow: hidden;
          -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
          transform: translate3d(0%,0,0) scale3d(1,1,1);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
      }

      #tinderslide .dislike {
          right: 45px;
          left: auto;
          background: url("tinder-nope.png") no-repeat scroll 0 0;
      }

      /* Image container */
      #tinderslide .img {
          height: 90%;
          width: 100%;
          margin-bottom: 5px;
          position: relative;
          -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
          -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
          transform: translate3d(0%,0,0) scale3d(1,1,1);
          overflow: hidden;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
          -webkit-transform-style: preserve-3d;
      }

      /* Action - buttons */
      .actions {
          text-align: center;
          width: 304px;
          margin: 0 auto;
          overflow: hidden;
      }

      .actions div {
          position: relative;
          display: inline-block;
          margin-right: -4px;
      }

      .actions a i {
          display: inline-block;
          width: 40px;
          height: 80px;
      }

      .actions a.dislike i {
          background: url("https://cdn.rawgit.com/do-web/jTinder/master/img/dislike_button.png") no-repeat scroll center center;
      }

      .actions a.like i {
          background: url("https://cdn.rawgit.com/do-web/jTinder/master/img/like_button.png") no-repeat scroll center center;
      }

      .actions a {
          float: left;
          display: block;
          background-color: #f7f7f7;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
          background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
          background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
          background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
          background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
          color: #a7a7a7;
          margin: 36px;
          width: 80px;
          height: 80px;
          position: relative;
          text-align: center;
          line-height: 144px;
          border-radius: 50%;
          outline: none;
          box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
      }

      .actions a:hover{
        text-decoration: none;
        color: #555;
        background: #f5f5f5;
      }

      /* jTinder images */
      #tinderslide .pane5 .img {
          background-size: 200px 200px;
      }
      #tinderslide .pane4 .img {
          background: url("https://cdn.rawgit.com/do-web/jTinder/master/img/pane/pane4.jpg") no-repeat scroll center center;
          background-size: 200px 200px;
      }
      #tinderslide .pane3 .img {
          background: url("https://cdn.rawgit.com/do-web/jTinder/master/img/pane/pane3.jpg") no-repeat scroll center center;
          background-size: 200px 200px;
      }
      #tinderslide .pane2 .img {
          background: url("https://cdn.rawgit.com/do-web/jTinder/master/img/pane/pane2.jpg") no-repeat scroll center center;
          background-size: 200px 200px;
      }
      #tinderslide .pane1 .img {
          background: url("https://www.ndtv.com/cooks/images/mutton-biryani-new.jpg") no-repeat scroll center center;
          background-size: 200px 200px;
      }

      /* jTinder status text */
      #status {
          text-align: center;
          font-size: 18px;
          font-family: arial;
          margin-top: 30px;
          font-weight: bold;
      }
    </style>
</head>
<body>
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
                <li class="pane1">
                    <div class="img no-repeat scroll center center"></div>
                    <div>Miami Beach</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane2">
                    <div class="img"></div>
                    <div>San Francisco</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane3">
                    <div class="img"></div>
                    <div>Chicago</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane4">
                    <div class="img"></div>
                    <div>New York</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="pane5">
                    <div class="img" style= "background: url('https://www.ndtv.com/cooks/images/mutton-biryani-new.jpg') no-repeat scroll center center; background-size: 200px 200px" ></div>
                    <div>Beach</div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
            </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <!--
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>
    -->
    <!-- jTinder status text
    <div id="status"></div>
    -->
    <!-- jQuery lib -->
    <script type="text/javascript" src="https://cdn.rawgit.com/do-web/jTinder/master/js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="https://cdn.rawgit.com/do-web/jTinder/master/js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="https://cdn.rawgit.com/do-web/jTinder/master/js/jquery.jTinder.js"></script>
    <!-- jTinder initialization script -->
    <script type="text/javascript" src="https://cdn.rawgit.com/do-web/jTinder/master/js/main.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyBtAnMGt1QsS_xh2DUmjblLUX61RBJw6Oo",
        authDomain: "test-notifications-210209.firebaseapp.com",
        databaseURL: "https://test-notifications-210209.firebaseio.com",
        projectId: "test-notifications-210209",
        storageBucket: "test-notifications-210209.appspot.com",
        messagingSenderId: "684149880129"
      };
      firebase.initializeApp(config);
      const messaging = firebase.messaging();
      messaging.requestPermission().then(function() {
        console.log('Notification permission granted.');
        // TODO(developer): Retrieve an Instance ID token for use with FCM.
        // [START_EXCLUDE]
        // In many cases once an app has been granted notification permission, it
        // should update its UI reflecting this.
        //resetUI();
        // [END_EXCLUDE]
        messaging.getToken().then(function(currentToken) {
          if (currentToken)
            console.log(currentToken);
        }).catch(function(err) {
          console.log('An error occurred while retrieving token. ', err);
        });
      }).catch(function(err) {
        console.log('Unable to get permission to notify.', err);
      });
      messaging.onMessage(function(payload) {
        var notificationTitle = payload.data.title;
        var notification = new Notification(notificationTitle, payload.data);
        notification.onclick = function(event) {
          event.preventDefault(); // prevent the browser from focusing the Notification's tab
          window.open(payload.data.link , '_blank');
          notification.close();
        }
      });
    </script>
  </body>
</html>
